body{
  background-color: #e7eff8;
}
main{
    background-color: white;
    border-radius: 20px;
    margin: 5% 32% 3% 32%;
    padding: 3%;
}
h1 {
  font-weight: 700;
  color: #1d2237;
  font-family: "Poppins", sans-serif;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
}

label{
  font-family: "Poppins", sans-serif;
  padding: 5%;
}

.btn-primary{
  border-radius: 60px;
  padding: 0.3rem 5rem 0.3rem 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #1d2237;
}

.btn-primary:hover{
  background-color: #165a91;
}

.back a{
  text-decoration: none;
  color: red;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.back i {
  color: red;
}
