<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Edit anggota</title>
</head>
<body>
<main>
  <div class="back">
    <a href="dataanggota.html"><i class="bi bi-box-arrow-in-left"></i> Kembali</a>
  </div>
  <br>
  <h1><center>Daftar Anggota</center></h1><br>
    <form action="{{url_for('ubahdata')}}" method="post">
        <center>
            <label for="nim">NIM</label><br>
            <input type="text" id="nim" name="nim" ><br><br>
            <label for="nama">Nama</label><br>
            <input type="text" id="nama" name="namamhs"><br><br>
            <label for="nim">Jurusan</label><br>
            <input type="text" id="jurusan" name="jurusanmhs"><br><br>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </center>
    </form>
</main>
</body>
</html>
